.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    margin: 2em;
    padding: 1em;
}

.containerc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    margin: 2em;
    padding: 1em;
}